  <h1> ID: <%= @site.id%> show</h1>

  <h2>
   Name:  <%= @site.name%>
   Host:  <%= @site.host%>
   Subdomain:  <%= @site.subdomain%>
  </h2>



<p><%= link_to '回到index', root_url(:subdomain => false) %></p>
